@page "/Finished"
@using BarberShop.DataBase
@using Microsoft.EntityFrameworkCore
@inject BarberShopContext ef
@rendermode InteractiveServer
<table class="tab">
    <th class="tab-td">Имя пользователя</th>
    <th class="tab-td">Имя мастера</th>
    <th class="tab-td">Услуга</th>
    <th class="tab-td">Дата записи</th>
    <th class="tab-td">Время записи</th>
    <th class="tab-td">Удалить</th>
    @foreach (var item in ef.RecordOfServicess
                      .Include(x => x.Master)
                      .Include(x => x.Service)
                      .Include(d => d.Client)
                      .OrderBy(f => f.Client!.Name)
                      .ThenBy(d => d.Master!.Name)
                      .ThenBy(a => a.Service!.Title)
                      .ThenBy(z => z.DateOfRecord)
                      .ThenBy(c => c.TimeOfRecord)
                      .ToList())
    {
        <tr>
            <td class="tab-td">@item.Client?.Name</td>
            <td class="tab-td">@item.Master?.Name</td>
            <td class="tab-td">@item.Service?.Title</td>
            <td class="tab-td">@item.DateOfRecord.ToString("d")</td>
            <td class="tab-td">@item.TimeOfRecord.ToString("T")</td>
            <button @onclick="() => Rem(item.Id)">Удалить</button>
        </tr>
    }
</table>


@code {
    
    private async Task Rem(int recordId)
    {
       await ef.RecordOfServicess
          .Where(c => c.Id == recordId)
          .ExecuteDeleteAsync();
     await ef.SaveChangesAsync();
    }

}
